name: tests

on: 
  push:
    branches: [ "main" ]

jobs:
  run_tests:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_13.0.app  
    - name: Xcode version
      run: /usr/bin/xcodebuild -version
    - name: Run tests
      run: xcodebuild clean test -project "DemoTest.xcodeproj" -scheme "DemoTestTests" -destination "platform=iOS Simulator,name=iPhone 13,OS=latest"
    - name: Archive Xcode build log
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: build
          path: |
            /Users/runner/Library/Logs/scan
          retention-days: 28
